bin
gen
*.iml
.settings
.project
local.properties
release
.DS_Store
*Thumbs.db
*.jar.properties
xgbuild/
.gradle/
.idea/
.navigation/
maps.txt
*.pyc
captures/
/NewsArticle/google-services.json
/push/
/push-3rd/
/push_common_lib/
/push-fcm/
/push-mi/
/push-vivo/
/push_local_push/
/tpinmodule/
xgbuild/buzzRelease/classes.txt
xgbuild/buzzRelease/meta.json

build/
!**/src/**/build/

xgbuild/

common/lintRules/build/
common/lintrulesaar/build/
gradle-app.setting
*.bak
.vscode/
*.classpath
src/main/res/values-ar-rSA/ugc_string.xml
src/main/res/values-ar/ugc_string.xml
src/main/res/values-bg/ugc_string.xml
src/main/res/values-cs/ugc_string.xml
src/main/res/values-da/ugc_string.xml
src/main/res/values-de-rAT/ugc_string.xml
src/main/res/values-de-rCH/ugc_string.xml
src/main/res/values-de/ugc_string.xml
src/main/res/values-es-rES/ugc_string.xml
src/main/res/values-es-rMX/ugc_string.xml
src/main/res/values-es-rUS/ugc_string.xml
src/main/res/values-fr-rCH/ugc_string.xml
src/main/res/values-fr/ugc_string.xml
src/main/res/values-hr/ugc_string.xml
src/main/res/values-hu/ugc_string.xml
src/main/res/values-id/ugc_string.xml
src/main/res/values-it/ugc_string.xml
src/main/res/values-ko/ugc_string.xml
src/main/res/values-nl/ugc_string.xml
src/main/res/values-no/ugc_string.xml
src/main/res/values-pl/ugc_string.xml
src/main/res/values-ro/ugc_string.xml
src/main/res/values-ru-rUA/ugc_string.xml
src/main/res/values-ru/ugc_string.xml
src/main/res/values-sk/ugc_string.xml
src/main/res/values-sl/ugc_string.xml
src/main/res/values-sr/ugc_string.xml
src/main/res/values-sv-rSE/ugc_string.xml
src/main/res/values-tr/ugc_string.xml
src/main/res/values-zh-rCN/ugc_string.xml
src/main/res/values-zh-rHK/ugc_string.xml
src/main/res/values-zh-rTW/ugc_string.xml
business/buzz/codecheck/code-check-source-set.xml
business/dynamics/live/codecheck/code-check-source-set.xml
/reports
proguard-configuration.txt
*.hprof
java_pid*
gradle.log
deps.log
py-venv/
translation_temp/
business/audiocomment/

business/ugc/ugc-mediamaker/build
business/ugc/mediamaker/build
business/ugc/ugc-poll/build
business/ugc/ugc-repost/build
business/ugc/ugc-topic/build
business/ugc/ugc-videolink/build
business/interaction/build
business/Interaction/build


